body {
  background-color: black;
  text-align: center;
  margin-top: 100px; /* Adjust as needed */
}

.panel {
  width: 15vw; /* Adjust as needed */
  height: 15vw; /* Adjust as needed */
  display: inline-block;
  cursor: pointer;
  margin: 0.5vw; /* Adjust as needed */
}

.panel:hover {
  box-shadow: inset 0 0 0 2px cyan;
  box-sizing: border-box;
}

.bottom-right-panel {
  border-bottom-right-radius: 100%;
  background-color: red;
}

.bottom-left-panel {
  border-bottom-left-radius: 100%;
  background-color: blue;
}
.top-right-panel {
  border-top-right-radius: 100%;
  background-color: green;
}
.top-left-panel {
  border-top-left-radius: 100%;
  background-color: yellow;
}

.active {
  background-color: rgb(124, 0, 124);
}
.start-button {
  font-style: italic;
  font-size: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  margin-top: 20px; /* Adjust as needed */
}

@media (max-width: 600px) {
  .panel {
    width: 30vw;
    height: 30vw;
  }

  .start-button {
    font-size: 4vw;
    padding: 4% 8%;
    margin-top: 10%;
  }
}